body {
    font-family: Arial;
    padding: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
